.AddProjectTile{
    width: 733px;
    height: auto;
    margin: 17px;
    display: flex;
    height: 330px;
    border-radius: 12px;
    webkit-box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    -moz-box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    background-repeat: no-repeat;
    background-size: cover;
}