.ProjectTile{
    margin: 17px;
    display: flex;
    height: 330px;
    border-radius: 12px;
    webkit-box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    -moz-box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    box-shadow: 3px 3px 10px -3px rgba(72,199,76,1);
    background-repeat: no-repeat;
    background-size: cover;
}

.ProjectTile .overlay{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: relative;
    cursor: pointer;
    transition: all 1s ease;
    overflow: hidden;
}

.ProjectTile .overlay:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    transition: all 1s ease;
    top: 0;
    left: -733px;
}

.ProjectTile .overlay > p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 1;
    transition: all 1s ease;
}

.overlay:hover:before{
    left: 0
}

.overlay:hover p{
        color: #00bfb6;
}

.single{
    width: 220px;
}

.double{
    width: 476px;
}

.triple{
   width: 733px
}