  .App-navigation{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .App-navigation div{
    height: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .App-navigation div a {
    margin-top: 23px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .App-navigation div a:after {
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background:green;
  }
  .App-navigation div a:after {
    right: 0;
    left: auto;
  }
  .App-navigation div a:hover {
    cursor: pointer;
  }
  .App-navigation div a:hover:after {
    width: 100%;
    left: 0;
  }